<div id="updateForm">

    <h1 id="deleteContactTitle">Delete Contact</h1>
    <form [formGroup]="deleteForm" (ngSubmit)="onSubmit()" class="myform">

        <div class="myInputs">
            <mat-form-field class="example-full-width">
                <mat-label class="formInput">First Name</mat-label>
                <input class="formInput" matInput formControlName="firstName">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Last Name</mat-label>
                <input class="formInput" matInput formControlName="lastName">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Phone Number</mat-label>
                <input class="formInput" matInput formControlName="phoneNumber">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label class="formInput">Address</mat-label>
                <input class="formInput" matInput formControlName="address">
            </mat-form-field>
        </div>

        <button class="actionButtons" type="button" mat-dialog-close mat-raised-button color="warn">Cancel</button>
        <button class="actionButtons" type="submit" mat-raised-button color="accent">Delete</button>
    </form>
</div>