.myInputs {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#deleteContactTitle {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.actionButtons {
    margin-left: 20px;
}

.formInput {
    color: black;
}